{##################}
{### POST BLOCK ###}
{##################}
<div class="post-block">
  {# Gallery support #}
  {{ post_gallery(post.photos) }}

  <article itemscope itemtype="http://schema.org/Article" class="post-content" lang="{{ post.lang }}">
    <link itemprop="mainEntityOfPage" href="{{ post.permalink }}">

    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="image" content="{{ url_for(theme.avatar.url or theme.images + '/avatar.gif') }}">
      <meta itemprop="name" content="{{ author }}">
    </span>

    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ title }}">
      <meta itemprop="description" content="{{ description }}">
    </span>

    <span hidden itemprop="post" itemscope itemtype="http://schema.org/CreativeWork">
      <meta itemprop="name" content="{{ page.title + ' | ' + title }}">
      <meta itemprop="description" content="{{ page.description }}">
    </span>

    {%- if page.header !== false %}

        <h1 class="post-title">
          {{- page.title }}
        </h1>

    {%- endif %}

    {#################}
    {### POST BODY ###}
    {#################}
    <div class="post-body{% if page.direction and page.direction.toLowerCase() === 'rtl' %} rtl{% endif %}" itemprop="articleBody">
      {%- if is_index %}
        {%- if page.description and theme.excerpt_description %}
          <p>{{ page.description }}</p>
        {% elif page.excerpt %}
          {{ page.excerpt }}
        {% else %}
          {{ page.content }}
        {%- endif %}
      {% else %}
        {{- next_inject('postBodyStart') }}
        {{- page.content }}
      {%- endif %}
    </div>

    {#####################}
    {### END POST BODY ###}
    {#####################}

  </article>
</div>
{######################}
{### END POST BLOCK ###}
{######################}